*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
db.sqlite3
*.log
local_settings.py
.env
staticfiles/
media/
.env
*.env
.vscode/
.DS_Store
Thumbs.db
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
db.sqlite3
*.log
local_settings.py
.env
staticfiles/
media/
.env
*.env
.vscode/
.DS_Store
Thumbs.db
